# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv/
ENV/
env/
.venv/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Streamlit temp files
.streamlit/

# Large data and model files
data/
models/
